@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

.app > header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin: 0 0 12px 0;
  height: 64px;
  border-bottom: 1px solid black;

  & > h1 {
    font-size: 1em;
    font-weight: 400;
  }
}

.app-section-title {
  font-size: 1em;
  font-weight: 400;
  color: #999999;
  margin-top: 12px;
  text-align: center;
}